h1
{
	text-align: center;
	background-color: purple;
  	color: white;
}

h2
{
	color: white;
}

h3
{
	text-align: center;
	color: grey;
}

p
{
	text-align: center;
	color: grey;
}

body
{



}
